@font-face {
    font-family : 'Titillium Web';
    src         : url('./TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family : 'Titillium Web';
    src         : url('./TitilliumWeb-Bold.ttf');
    font-weight : bold;
}

body,
body > #viewport {
    overflow         : hidden;
    position         : fixed;
    width            : 100%;
    height           : 100%;
    padding          : 0;
    margin           : 0;
    background-color : #282828;
}

* {
    font-family : 'Titillium Web', sans-serif;
    /*-webkit-user-select : none;*/
    /*-moz-user-select    : none;*/
    /*-ms-user-select     : none;*/
    /*-o-user-select      : none;*/
    /*user-select         : none;*/
}

#listing,
#details,
#main,
#map-cover {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
}

#listing,
#details,
#main .header,
#main .when {
    -webkit-transition : -webkit-transform 0.4s;
    -moz-transition    : transform 0.4s;
    -ms-transition     : transform 0.4s;
    -o-transition      : transform 0.4s;
    transition         : transform 0.4s;
}

/** Map Gray Cover **/

#map-cover {
    background-color   : rgba(215, 215, 215, 0.8);
    -webkit-transition : opacity 0.4s;
    -moz-transition    : opacity 0.4s;
    -ms-transition     : opacity 0.4s;
    -o-transition      : opacity 0.4s;
    transition         : opacity 0.4s;
    opacity            : 0;
    -webkit-transform  : translate(0px, -9999px);
    -moz-transform     : translate(0px, -9999px);
    -ms-transform      : translate(0px, -9999px);
    -o-transform       : translate(0px, -9999px);
    transform          : translate(0px, -9999px);
    z-index            : 3;
}

body.show-details #map-cover {
    opacity           : 1;
    -webkit-transform : translate(0px, 0px);
    -moz-transform    : translate(0px, 0px);
    -ms-transform     : translate(0px, 0px);
    -o-transform      : translate(0px, 0px);
    transform         : translate(0px, 0px);
}

/** Event listing **/

#listing {
    z-index           : 2;
    -webkit-transform : translate(0px, calc(100% - 48px));
    -moz-transform    : translate(0px, calc(100% - 48px));
    -ms-transform     : translate(0px, calc(100% - 48px));
    -o-transform      : translate(0px, calc(100% - 48px));
    transform         : translate(0px, calc(100% - 48px));
}

body.show-listing #listing {
    top               : 56px;
    -webkit-transform : translate(0px, 0px);
    -moz-transform    : translate(0px, 0px);
    -ms-transform     : translate(0px, 0px);
    -o-transform      : translate(0px, 0px);
    transform         : translate(0px, 0px);
}

body.show-listing #main .header {
    height            : 48px;
    -webkit-transform : translate(0px, -36px);
    -moz-transform    : translate(0px, -36px);
    -ms-transform     : translate(0px, -36px);
    -o-transform      : translate(0px, -36px);
    transform         : translate(0px, -36px);
}

body.show-listing #main .when {
    -webkit-transform : translate(0px, -40px);
    -moz-transform    : translate(0px, -40px);
    -ms-transform     : translate(0px, -40px);
    -o-transform      : translate(0px, -40px);
    transform         : translate(0px, -40px);
}

#listing .logo {
    text-align  : center;
    height      : 60px;
    border-top  : 1px solid #ccc;
    padding-top : 38px;
}

#listing .logo img {
    width     : 50%;
    height    : auto;
    max-width : 124px;
}

#listing .close-button {
    background-color : white;
    color            : #222;
    font-size        : 14px;
    font-weight      : bold;
    height           : 48px;
    padding-left     : 48px;
    line-height      : 48px;
    width            : 100%;
    left             : 0;
    text-align       : left;
    cursor           : pointer;
    position         : absolute;
    top              : 0;
    box-sizing       : border-box;
}

#listing .close-button.active {
    background : #eee;
    border     : 0;
}

#listing .close-button:before {
    float             : left;
    position          : relative;
    content           : ' ';
    background-image  : url('./arrow-sm-d.svg');
    background-size   : 16px 16px;
    height            : 16px;
    width             : 16px;
    top               : 16px;
    left              : -24px;
    -ms-transform     : rotate(180deg); /* IE 9 */
    -webkit-transform : rotate(180deg); /* Chrome, Safari, Opera */
    transform         : rotate(180deg);
}

#listing .close-button.active:before {
    -ms-transform     : rotate(90deg); /* IE 9 */
    -webkit-transform : rotate(90deg); /* Chrome, Safari, Opera */
    transform         : rotate(90deg);
}

#listing #results {
    box-sizing       : border-box;
    position         : absolute;
    top              : 48px;
    bottom           : 0;
    left             : 0;
    right            : 0;
    overflow         : auto;
    background-color : #ffffff;
}

#listing #results .result {
    -webkit-transition : all 0.4s;
    -moz-transition    : all 0.4s;
    -ms-transition     : all 0.4s;
    -o-transition      : all 0.4s;
    transition         : all 0.4s;
}

#listing #results .result.selected {
    border-right : 4px solid #ed1a56;
}

#listing #results .result {
    min-height    : 64px;
    padding       : 12px 16px 12px 0;
    border-bottom : 1px solid #eee;
    margin-left   : 24px;
}

/* todo: remove border bottom from last .result */

#listing #results .about-link {
    font-weight   : bold;
    border-bottom : 0;
    border-top    : 1px solid #ccc;
    color         : #ed1a56;
    font-size     : 16px;
    line-height   : 64px;
    position      : relative;
    padding-left : 24px;
    box-sizing   : border-box;
    width         : 100%;
    border-bottom : 0;
}

#listing #results a {
    text-decoration : none;
}

#listing #results .result .title {
    font-weight : bold;
    font-size   : 16px;
    color       : #444;
}

#listing #results .result.selected .title {
    color : #000;
}

#listing #results .result .time {
    font-size : 12px;
    color     : #999;
}

#listing #results .result[data-expired="true"] > div {
    color : #cdcdcd;
}

/** About **/

#listing #results .blurb {

    border-bottom      : 1px solid #eee;
    margin-left        : 24px;
    -webkit-transition : all 0.4s;
    -moz-transition    : all 0.4s;
    -ms-transition     : all 0.4s;
    -o-transition      : all 0.4s;
    transition         : all 0.4s;
    max-height         : 0;
    overflow           : hidden;

}

body.show-about #listing #results .blurb {
    padding : 12px 16px 12px 0;
    max-height : 1200px;
}

body.show-about #listing #results .result {
    min-height : 0;
    padding    : 0;
    border     : 0;
    max-height : 0;
    overflow   : hidden;
}

/** Event Details **/

#details {
    z-index            : 4;
    box-sizing         : content-box;
    left               : 48px;
    background-color   : #ffffff;
    -webkit-transition : all 0.4s;
    -moz-transition    : all 0.4s;
    -ms-transition     : all 0.4s;
    -o-transition      : all 0.4s;
    transition         : all 0.4s;
    -webkit-transform  : translate(calc(100%), 0px);
    -moz-transform     : translate(calc(100%), 0px);
    -ms-transform      : translate(calc(100%), 0px);
    -o-transform       : translate(calc(100%), 0px);
    transform          : translate(calc(100%), 0px);
}

body.show-details #details {
    -webkit-transform : translate(0px, 0px);
    -moz-transform    : translate(0px, 0px);
    -ms-transform     : translate(0px, 0px);
    -o-transform      : translate(0px, 0px);
    transform         : translate(0px, 0px);
}

#details .content {
    position                   : absolute;
    top                        : 0;
    left                       : 0;
    right                      : 0;
    bottom                     : 144px;
    overflow                   : auto;
    padding                    : 24px;
    text-align                 : center;
    -webkit-overflow-scrolling : touch;
}

#details .content div {
    text-align : left;
}

#details .title {
    margin-top  : 12px;
    font-size   : 20px;
    font-weight : bold;
    line-height : 24px;
}

#details .time {
    margin-top    : 18px;
    font-size     : 12px;
    color         : #999;
    border-top    : 1px solid #eee;
    border-bottom : 1px solid #eee;
    padding       : 8px 0;
}

#details .location {
    margin-top    : 8px;
    font-size     : 12px;
    color         : #999;
    border-bottom : 1px solid #eee;
    padding       : 0 0 8px;
}

#details .about {
    margin-top  : 12px;
    font-size   : 14px;
    line-height : 20px;
}

#details .actions {
    position : absolute;
    left     : 0;
    right    : 0;
    bottom   : 0;
    height   : 116px;
}

#details .actions .share,
#details .actions .gmaps {
    cursor        : pointer;
    border-radius : 4px;
    height        : 36px;
    line-height   : 36px;
    margin        : 0 24px 18px;
    text-align    : center;
    color         : white;
}

#details .actions .share {
    background : #04aceb;
}

#details .actions .gmaps {
    background : #5684ff;
}

#details .share-link,
#details .maps-link {
    text-decoration : none;
}

/* Main section */

#main {
    position         : absolute;
    overflow         : hidden;
    background-color : #000000;
}

#main .header {
    position         : absolute;
    font-size        : 16px;
    top              : 0;
    left             : 0;
    right            : 0;
    text-align       : center;
    background-color : #ed1a56;
    height           : 40px;
    line-height      : 40px;
    color            : white;
    font-weight      : normal;
}

#main .when {
    position         : absolute;
    top              : 40px;
    left             : 0;
    height           : 56px;
    width            : 100%;
    overflow         : hidden;
    background-color : #f8f8f8;
    border-bottom    : 1px solid #ccc;
    box-sizing       : border-box;
}

#main .when .days {
    color                      : #888;
    position                   : absolute;
    top                        : 0;
    left                       : 0;
    right                      : -16px;
    bottom                     : -16px;
    overflow                   : auto;
    white-space                : nowrap;
    padding                    : 0 16px 0 16px;
    -webkit-overflow-scrolling : touch;
}

#main .when .exact-days {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 1300px;
    height   : 48px;
}

#main .when .date {
    float        : left;
    width        : 80px;
    height       : 56px;
    position     : relative;
    cursor       : pointer;
    font-size    : 20px;
    font-weight  : bold;
    text-align   : center;
    border-right : 1px solid #eee;
}

#main .when .date .day {
    height      : 20px;
    line-height : 30px;
    font-size   : 12px;
    font-weight : normal;
}

#main .when .date[data-date="all"] .day {
    font-size   : 16px;
    height      : 56px;
    line-height : 56px;
}

#main .when .date[data-date="all"] div:last-child {
    font-size : 0;
    height    : 0;
    width     : 0;
}

#main .when .date.selected {
    color         : #222;
    border-bottom : 4px solid red;
    box-sizing    : border-box;
}

#main #map {
    position : absolute;
    top      : 40px;
    bottom   : 0;
    left     : 0;
    right    : 0;
}

#main #map .gm-style-cc,
#main #map a[target="_blank"] img {
    display : none;
}

/** Non-mobile **/

@media only screen and (min-width : 768px) {
    #main #map {
        top : 36px;
    }

    #main .when {
        top     : 68px;
        left    : 32px;
        height  : 56px;
        width   : 400px;
        z-index : 5;
    }

    #listing .close-button {
        border : 0;
    }

    #listing .close-button:before {
        -ms-transform     : rotate(0deg); /* IE 9 */
        -webkit-transform : rotate(0deg); /* Chrome, Safari, Opera */
        transform         : rotate(0deg);
    }

    #listing .close-button.active:before {
        -ms-transform     : rotate(180deg); /* IE 9 */
        -webkit-transform : rotate(180deg); /* Chrome, Safari, Opera */
        transform         : rotate(180deg);
    }

    body.show-listing #main .when,
    body.show-listing #main .header,
    #listing,
    body.show-listing #listing {

        -webkit-transform : translate(0px, 0px);
        -moz-transform    : translate(0px, 0px);
        -ms-transform     : translate(0px, 0px);
        -o-transform      : translate(0px, 0px);
        transform         : translate(0px, 0px);
    }

    body.show-listing #main .header {
        height : 40px;
    }

    #listing {
        -webkit-transition : all 0.4s;
        -moz-transition    : all 0.4s;
        -ms-transition     : all 0.4s;
        -o-transition      : all 0.4s;
        transition         : all 0.4s;
        left               : 32px;
        right              : auto;
        bottom             : calc(100% - 48px);
        width              : 400px;
        top                : 124px;
        border             : 0;
        z-index            : 5;
    }

    body.show-listing #listing {
        bottom : 32px;
        top    : 124px;
    }

    #details {
        left  : auto;
        width : 400px;
    }
}