@font-face {
    font-family : 'Montserrat';
    src         : url('./Montserrat-Regular.ttf');
}

@font-face {
    font-family : "Montserrat";
    src         : url('./Montserrat-Bold.ttf');
    font-weight : bold;
}

body {
    overflow : hidden;
    position : relative;
    padding  : 0;
    margin   : 0;
}

* {
    font-family : "Montserrat";
}

#controls,
#details,
#main,
#map-cover {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
}

#controls,
#details {
    -webkit-transition : transform 0.4s;
    -moz-transition    : transform 0.4s;
    -ms-transition     : transform 0.4s;
    -o-transition      : transform 0.4s;
    transition         : transform 0.4s;
}

/** Map Gray Cover **/

#map-cover {
    background-color   : rgba(215, 215, 215, 0.8);
    -webkit-transition : opacity 0.4s;
    -moz-transition    : opacity 0.4s;
    -ms-transition     : opacity 0.4s;
    -o-transition      : opacity 0.4s;
    transition         : opacity 0.4s;
    opacity            : 0;
    -webkit-transform  : translate(0px, -9999px);
    -moz-transform     : translate(0px, -9999px);
    -ms-transform      : translate(0px, -9999px);
    -o-transform       : translate(0px, -9999px);
    transform          : translate(0px, -9999px);
}

body.show-controls #map-cover,
body.show-details #map-cover {
    opacity           : 1;
    -webkit-transform : translate(0px, 0px);
    -moz-transform    : translate(0px, 0px);
    -ms-transform     : translate(0px, 0px);
    -o-transform      : translate(0px, 0px);
    transform         : translate(0px, 0px);
}

/** Event Controls **/

#controls {
    background-color : #ffffff;

    -webkit-transform : translate(calc(-100%), 0px);
    -moz-transform    : translate(calc(-100%), 0px);
    -ms-transform     : translate(calc(-100%), 0px);
    -o-transform      : translate(calc(-100%), 0px);
    transform         : translate(calc(-100%), 0px);
}

body.show-controls #controls {
    -webkit-transform : translate(0px, 0px);
    -moz-transform    : translate(0px, 0px);
    -ms-transform     : translate(0px, 0px);
    -o-transform      : translate(0px, 0px);
    transform         : translate(0px, 0px);
}

#controls .header {
    background-color : #282828;
    color            : white;
    height           : 64px;
    line-height      : 64px;
    text-align       : center;
    cursor           : pointer;
}

#controls .header::after {
    display     : block;
    content     : '×';
    font-size   : 24px;
    position    : absolute;
    top         : 0;
    right       : 0;
    width       : 64px;
    height      : 64px;
    line-height : 64px;
    text-align  : center;
}

#controls .when {
    position : relative;
    height   : 48px;
    width    : 100%;
    overflow : hidden;
}

#controls .when .days {
    position      : absolute;
    top           : 0;
    left          : 0;
    right         : -15px;
    bottom        : -15px;
    overflow      : auto;
    white-space   : nowrap;
    padding-right : 15px;
}

#controls a {
    box-sizing   : border-box;
    display  : inline-block;
    width        : 48px;
    height       : 48px;
    position : relative;
    cursor   : pointer;
    font-size    : 20px;
    font-weight  : bold;
    text-align   : center;
    padding      : 4px 0 0 0;
    margin       : 0 0 0 -4px;
    border-right : 1px solid #282828;
}

#controls a:before {
    display   : block;
    content   : 'May';
    font-size : 12px;
}

#controls a.selected {
    color            : #dfdfdf;
    background-color : #4a4a4a;
}

#controls a:first-child {
    border-left : 1px solid #282828;
}

#controls #results {
    border-top : 1px solid #282828;
    box-sizing : border-box;
    position   : absolute;
    top : 112px;
    bottom     : 0;
    left       : 0;
    right      : 0;
    overflow   : auto;
}

#controls #results .result {
    min-height    : 64px;
    padding       : 10px;
    border-bottom : 1px solid #e4e4e4;
}

#controls #results .result:last-child {
    border-bottom : 0;
}

#controls #results .result .title {
    font-weight : bold;
}

#controls #results .result .time {
    font-size : 14px;
}

/** Event Details **/

#details {
    box-sizing       : content-box;
    left             : 48px;
    background-color : #ffffff;
    -webkit-transform : translate(calc(100%), 0px);
    -moz-transform    : translate(calc(100%), 0px);
    -ms-transform     : translate(calc(100%), 0px);
    -o-transform      : translate(calc(100%), 0px);
    transform         : translate(calc(100%), 0px);
}

body.show-details #details {
    -webkit-transform : translate(0px, 0px);
    -moz-transform    : translate(0px, 0px);
    -ms-transform     : translate(0px, 0px);
    -o-transform      : translate(0px, 0px);
    transform         : translate(0px, 0px);
}

#details .content {
    position   : absolute;
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 144px;
    overflow   : auto;
    padding    : 24px;
    text-align : center;
}

#details .content div {
    text-align : left;
}

#details .title {
    margin-top  : 12px;
    font-size   : 18px;
    font-weight : bold;
}

#details .time {
    margin-top : 12px;
    font-size  : 14px;
}

#details .location,
#details .about {
    margin-top : 16px;
}

#details .actions {
    position : absolute;
    left     : 0;
    right    : 0;
    bottom   : 0;
    height   : 144px;
}

#details .actions .tweet,
#details .actions .gmaps {
    cursor           : pointer;
    height           : 36px;
    line-height      : 36px;
    margin           : 24px;
    text-align       : center;
    background-color : #282828;
    color            : white;
}

/* Main section */

#main {
    overflow : hidden;
}

#main #map {
    position : absolute;
    top      : 64px;
    bottom   : 0;
    left     : 0;
    right    : 0;
}

#main .header {
    position         : absolute;
    top              : 0;
    bottom           : 64px;
    left             : 0;
    right            : 0;
    line-height      : 64px;
    text-align       : center;
    background-color : #282828;
    color            : white;
    font-weight      : bold;
}